# Port chay ung dung (Render thuong dung port 10000 hoac tu cap)
PORT=3000

# 1. Tai khoan chi co quyen DOC (read) tren database DB_23IT182
MONGODB_READ_URI=mongodb+srv://user_read_23IT182:<PASSWORD>@cluster0.xxxxx.mongodb.net/DB_23IT182?retryWrites=true&w=majority

# 2. Tai khoan co quyen GHI (readWrite) tren database DB_23IT182
MONGODB_WRITE_URI=mongodb+srv://user_write_23IT182:<PASSWORD>@cluster0.xxxxx.mongodb.net/DB_23IT182?retryWrites=true&w=majority

# Secret key cho Express Session
SESSION_SECRET=secret_key_session_23IT182_cloud_computing
